// common

$mobile: 414px;
$tablet: 1024px;
$desktop: 1280px;

// color
$white: #ffffff;
$accent-yellow: #f3c653;
$color-text-gray: #7a7a7a;
$brown: #c79002;
$black: #000000;
$lemon: #fffdee;
$color-footer: #0e0c07;
$dark-lemon: #f0ecd6;
$placeholder-color: #808080;

$address-color: #e5e5e5; /*Україна,
м. Полтава,
вул. Маршала Бірюзова,
15*/
$color-text-logo: #494848;
/*Україна,
м. Полтава,
вул. Маршала Бірюзова,
15, MIMIНО*/

$gray-first: #b4b4b4; /*Amet minim mollit non*/
$gray-second: #bababa;
$gray-third: #828282;

$contacts-color: rgba(243, 198, 83, 0.7);
$background-button: rgba(0, 0, 0, 0.4);

$background-hero: #474747;
$background-section: #939393;
