<section>
 <div class="container"> <h2 class="visually-hidden">Ресторан</h2>
    <ul>
      <li>
        <p>Amet minim mollit non</p>
      </li>
      <li>
        <p>MIMIHO</p>
      </li>
      <li>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <picture
          ><source />
          <source />
          <img
            src="../"
            alt=""
          />
        </picture>
      </li>
      <li>
        <picture>
          <img src="../" alt="" />
        </picture>
      </li>
    </ul>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="swiper-inner">Slide 1</div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-inner">Slide 2</div>
        </li></div>
    </ul>
  </div>
</section>
