<section class="about">
  <div class="container">
    <h2 class="visually-hidden">Ресторан</h2>
    <div class="about-flex about-flex--hotel">
      <div class="text-container text-container--hotel">
        <p class="about__text about__text--hotel">Amet minim mollit non</p>
        <p class="about__mimino about__mimino--hotel">MIMIHO</p>

        <p
          class="about__paragraph about__paragraph--first about__paragraph--hotel"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="img-container img-container--hotel">
        <picture>
          <source
            srcset="
              ./images/about-hotel/bedroom-living-space-desktop.jpg    1x,
              ./images/about-hotel/bedroom-living-space-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/about-hotel/bedroom-living-space-tablet.jpg    1x,
              ./images/about-hotel/bedroom-living-space-tablet@2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./images/about-hotel/bedroom-living-space-mobile.jpg    1x,
              ./images/about-hotel/bedroom-living-space-mobile@2x.jpg 2x
            "
            media="(min-width:414px)"
          />

          <img
            src="./images/about-hotel/bedroom-living-space-mobile.jpg"
            class="about__img about__img--first"
          />
        </picture>
      </div>
    </div>

    <div class="about-container about-container--hotel">
      <p class="about__paragraph about__paragraph--second hotel--second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="img-container img-container--second">
        <picture>
          <source
            srcset="
              ./images/about-hotel/hotel-desktop.jpg    1x,
              ./images/about-hotel/hotel-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/about-hotel/hotel-tablet.jpg    1x,
              ./images/about-hotel/hotel-tablet@2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./images/about-hotel/hotel-mobile.jpg    1x,
              ./images/about-hotel/hotel-mobile@2x.jpg 2x
            "
            media="(min-width:414px)"
          />
          <img
            src="./images/about-hotel/hotel-mobile.jpg"
            class="about__img about__img--second"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
