<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">Контакти</h2>
    <div class="contacts__wrapper">
      <div class="contacts__text-wrapper">
        <p class="contacts__logo">mimiho</p>
        <h3 class="contacts__subtitle">Ресторанно-готельний комплекс</h3>
        <address class="contacts__address">
          <ul class="contacts__list list">
            <li class="contacts__item">
              <p class="contacts__description">Ресторан</p>
              <div class="contacts__box contacts__box--restaurant">
                <svg class="contacts__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <a class="contacts__text link" href="tel:+380955559533">
                  095 555 95 33
                </a>
              </div>
            </li>
            <li class="contacts__item">
              <p class="contacts__description">Готель</p>
              <div class="contacts__box contacts__box--hotel">
                <svg class="contacts__icon" width="20px" height="20px">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <a class="contacts__text link" href="tel:+380668491089">
                  066 849 10 89
                </a>
                <a class="contacts__text link" href="tel:+380672758540">
                  067 275 85 40
                </a>
              </div>
            </li>
            <li class="contacts__item">
              <p class="contacts__description"></p>
              <div class="contacts__box contacts__box--location">
                <svg class="contacts__icon" width="22px" height="22px">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <a
                  class="contacts__text contacts__text--location link"
                  href="https://goo.gl/maps/r92FgtE5P342WZQ79"
                  target="_blank"
                >
                  Україна, м. Полтава,<br />
                  вул. Маршала Бірюзова, 15
                </a>
              </div>
            </li>
          </ul>
        </address>
      </div>
      <div class="contacts__map-wrapper">
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13150.699483192011!2d34.54746639500666!3d49.5924892588808!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2snl!4v1674942371686!5m2!1sen!2snl"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
