<section class="container details">
    <div class="desc">
        <p class="logo">Mimih<span class="logo__span">o</span></p>
        <h3 class="desc__title">Готель</h3>
        <p class="desc__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
    </div>

    <div class="interaction">
        <div class="slider">
            <!-- <img src="/src/images/main_details-rest-dish1_mob.jpg" alt="реберця смажені" width="274" height="270" /> -->
        </div>

        <div class="details-btn">

            <button class="details-btn__reserv button" type="button" data-modal-open-table>
                Забронювати номер
            </button>

            <a href="/src/hotel.html" class="details-btn__link">Переглянути ціни</a>
        </div>
    </div>
</section>

