<section class="details-rest">
    <!-- <div class="details-rest__buttons">
        <button class="button__reserv" type="button" data-modal-open-table>

        </button>

        <button onclick="" class="button__" type="button">

        </button>
        
    </div> -->
    <div class="desc">
        <a href="#"><span class="logo">Міміно</span></a>
        <h3 class="desc__title">Ресторан</h3>
        <p class="desc__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit.</p>
    </div>
    <!-- <div>
        <img src="" alt="">
    </div> -->
</section>