<section class="det">
  <div class="details details-hot">
    <div class="desc-hot">
      <p class="logo logo-hot">Mimih<span class="logo__span">o</span></p>
      <h3 class="desc-hot__title">Готель</h3>
      <p class="desc-hot__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="interaction-hot">
      <div class="slider">
        <div class="slider-container3 reverse">
          <div
            class="section slider-section reverse"
            data-slider="tripple-slider-rev"
          >
            <div class="swiper" dir="rtl">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse1.jpg    270w,
                            ./images/slider-reverse1@2x.jpg 540w,
                            ./images/slider-reverse1-m.jpg    274w
                            ./images/slider-reverse1-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse1.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse2.jpg    270w,
                            ./images/slider-reverse2@2x.jpg 540w,
                            ./images/slider-reverse2-m.jpg    274w
                            ./images/slider-reverse2-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse2.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse3.jpg    270w,
                            ./images/slider-reverse3@2x.jpg 540w,
                            ./images/slider-reverse3-m.jpg    274w
                            ./images/slider-reverse3-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse3.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse1.jpg    270w,
                            ./images/slider-reverse1@2x.jpg 540w,
                            ./images/slider-reverse1-m.jpg    274w
                            ./images/slider-reverse1-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse1.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse2.jpg    270w,
                            ./images/slider-reverse2@2x.jpg 540w,
                            ./images/slider-reverse2-m.jpg    274w
                            ./images/slider-reverse2-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse2.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse3.jpg    270w,
                            ./images/slider-reverse3@2x.jpg 540w,
                            ./images/slider-reverse3-m.jpg    274w
                            ./images/slider-reverse3-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse3.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse1.jpg    270w,
                            ./images/slider-reverse1@2x.jpg 540w,
                            ./images/slider-reverse1-m.jpg    274w
                            ./images/slider-reverse1-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse1.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse2.jpg    270w,
                            ./images/slider-reverse2@2x.jpg 540w,
                            ./images/slider-reverse2-m.jpg    274w
                            ./images/slider-reverse2-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse2.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-inner">
                    <img
                      srcset="
                            ./images/slider-reverse3.jpg    270w,
                            ./images/slider-reverse3@2x.jpg 540w,
                            ./images/slider-reverse3-m.jpg    274w
                            ./images/slider-reverse3-m@2x.jpg 548w
                          "
                      src="./images/slider-reverse3.jpg"
                      alt="dishes"
                      width="100%"
                      height="270"
                    />
                  </div>
                </div>
              </div>

              <!-- коментуємо чи видаляемо якщо не потрібно -->
              <!-- <ul class="swiper-pagination"></ul> -->
              <!-- коментуємо чи видаляемо якщо не потрібно -->

              <!-- коментуємо чи видаляемо якщо не потрібно -->
              <div class="swiper-btns tripple">
                <button
                  type="button"
                  class="swiper-btn swiper-button-prev swiper-btns--right"
                >
                  <svg class="slider-button--white" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                  </svg>
                </button>
                <button type="button" class="swiper-btn swiper-button-next">
                  <svg class="slider-button--white" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                  </svg>
                </button>
              </div>
              <!-- коментуємо чи видаляемо якщо не потрібно -->
            </div>
          </div>
        </div>
        <!-- <img src="/src/images/main_details-rest-dish1_mob.jpg" alt="реберця смажені" width="274" height="270" /> -->
      </div>

      <div class="details-btn-hot">
        <button
          class="details-btn-hot__reserv button popup-link"
          type="button"
          data-popup-btn="booking__room"
        >
          Забронювати номер
        </button>

        <a href="/src/hotel.html" class="details-btn-hot__link"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
