<!-- Приклад для кнопки або лінку виклику модалки для додаванння на місця у відповідних секціях:

<a href="#" data-popup-btn="booking__room" class="popup-link">Забронювати номер</a>
<button type="button" data-popup-btn="booking__room" class="popup-link">Забронювати номер</button>

<p>Тег можна використовувати який завгодно головне додати дата атрибут та клас <b>popup-link</b></p>
<p> Дата атрибут <b>data-popup-btn="booking__room"</b> відповідає атрибуту модалки <b>data-popup-target="booking__room"</b></p> -->


<div data-popup-target="booking__room" class="popup">
    <div class="popup__body">
        <div class="popup__content">
         <button type="button" class="popup__close close-popup"><img class="popup__cross" src="images/close-button.svg" alt="Close button" width="24"></button>
          <h2 class="popup__title">ЗАБРОНЮВАТИ НОМЕР</h2>
          <form class="form" autocomplete="off">
          <div class="form__thumb-flex">
          <div class="form__wrap-room-input">
          <div class="form__field">
          <input class="form__input" type="text" name="name" id="name" required pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ\s-]{2,20}{2,50}" title="Введіть ім'я українськими або латинськими літерами" placeholder="Ваше ім'я" />
          <label class="form__label" for="name">На кого забронювати номер?</label>
          </div>
          <div class="form__field">
          <input class="form__input" type="tel" name="tel" id="tel" required pattern="[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}" title="Введіть номер телефону згідно прикладу" placeholder="+38 (___) ___-__-__"/>
          <label class="form__label" for="tel">Номер телефону</label>
          </div>
          <div class="form__field form__select-wrap">
            <select name="room-select" id="room-select" class="form__select">
            <option value="1 room luxe for 2 adult">Двомісний люкс</option>
            <option value="1 room for 3 adult">Трьохмісний номер</option>
            <option value="1 room for 2 adult">Двомісний номер</option>
            </select>
          <label class="form__label" for="room-select">Категорія номеру</label>
          </div>
          </div>
          <div class="form__wrap-room-select">
          <div class="form__field form__select-wrap">
            <select name="date-in-select" id="date-in-select" class="form__select">
                <option value="Today">Сьогодні</option>
                <option value="Monday">Понеділок</option>
                <option value="Tuesday">Вівторок</option>
                <option value="Wednesday">Cереда</option>
                <option value="Thursday">Четвер</option>
                <option value="Friday">П'ятниця</option>
                <option value="Wednesday">Субота</option>
                <option value="Sunday">Неділя</option>
            </select>
          <label class="form__label" for="date-in-select">Дата заїзду</label>
          </div>
          <div class="form__field form__select-wrap">
            <select name="date-out-select" id="date-out-select" class="form__select">
                <option value="Today">Сьогодні</option>
                <option value="Monday">Понеділок</option>
                <option value="Tuesday">Вівторок</option>
                <option value="Wednesday">Cереда</option>
                <option value="Thursday">Четвер</option>
                <option value="Friday">П'ятниця</option>
                <option value="Wednesday">Субота</option>
                <option value="Sunday">Неділя</option>
            </select>
          <label class="form__label" for="date-out-select">Дата виїзду</label>
          </div>
          </div>
          </div>
          <button class="form__button" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
          </form>
        </div>
    </div>
</div>