<!-- Приклад для кнопки або лінку виклику модалки для додаванння на місця у відповідних секціях:

<a href="#" data-popup-btn="booking__price" class="popup-link">Переглянути ціни</a>
<button type="button" data-popup-btn="booking__price" class="popup-link">Переглянути ціни</button>

<p>Тег можна використовувати який завгодно головне додати дата атрибут та клас <b>popup-link</b></p>
<p> Дата атрибут <b>data-popup-btn="booking__price"</b> відповідає атрибуту модалки <b>data-popup-target="booking__price"</b></p> -->

<div data-popup-target="booking__price" class="popup">
    <div class="popup__body">
      <div class="popup__content">
        <button type="button" class="popup__close close-popup"><img class="popup__cross" src="images/close-button.svg" alt="Close button" width="24"></button>
         <h2 class="popup__title-price">ЦІНИ НА НОМЕР</h2>
         <p class="popup__type">Двомісний люкс</p>
         <p class="popup__category">Категорія номеру</p>
         <form class="form" autocomplete="off">
          <div class="form__field form__select-wrap">
            <select name="night-quantity" id="night-quantity" class="form__select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
          <label class="form__label" for="night-quantity">Кількість ночей</label>
          </div>
         <div class="form__field">
         <input class="form__input" type="text" name="price" id="price" value="1000" disabled />
         <label class="form__label" for="price">грн</label>
         </div>
         <button class="form__button-price" type="submit">ЗАБРОНЮВАТИ НОМЕР</button>
         </form>
       </div>   
    </div>
</div>