<div data-slider="double-slider">
  <div class="slider-container">
    <!-- <h2 class="section-title slider-section__title">Слайдер</h2> -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-inner">
            <!-- <img src="./images/double-slider1-m.jpg" alt="A table with sink" /> -->

            <img
              srcset="
                ./images/double-slider1.jpg 254w,
                ./images/double-slider1@2x.jpg 508w,
                ./images/double-slider1-m.jpg 194w
                ./images/double-slider1-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="table with sink"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <!-- <img src="./images/double-slider2.jpg" alt="Trees and winter" /> -->

            <img
              srcset="
                ./images/double-slider2.jpg 254w,
                ./images/double-slider2@2x.jpg 508w,
                ./images/double-slider2-m.jpg 194w
                ./images/double-slider2-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="trees and snow"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider1.jpg 254w,
                ./images/double-slider1@2x.jpg 508w,
                ./images/double-slider1-m.jpg 194w
                ./images/double-slider1-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="table with sink"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider2.jpg 254w,
                ./images/double-slider2@2x.jpg 508w,
                ./images/double-slider2-m.jpg 194w
                ./images/double-slider2-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="trees and snow"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider1.jpg 254w,
                ./images/double-slider1@2x.jpg 508w,
                ./images/double-slider1-m.jpg 194w
                ./images/double-slider1-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="table with sink"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider2.jpg 254w,
                ./images/double-slider2@2x.jpg 508w,
                ./images/double-slider2-m.jpg 194w
                ./images/double-slider2-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="trees and snow"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider1.jpg 254w,
                ./images/double-slider1@2x.jpg 508w,
                ./images/double-slider1-m.jpg 194w
                ./images/double-slider1-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="table with sink"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider2.jpg 254w,
                ./images/double-slider2@2x.jpg 508w,
                ./images/double-slider2-m.jpg 194w
                ./images/double-slider2-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="trees and snow"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/double-slider1.jpg 254w,
                ./images/double-slider1@2x.jpg 508w,
                ./images/double-slider1-m.jpg 194w
                ./images/double-slider1-m@2x.jpg 388w 
              "
              src="./images/double-slider1-page3-1m.jpg"
              sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
              alt="table with sink"
            />
          </div>
        </div>
      </div>

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <!-- <ul class="swiper-pagination"></ul> -->
      <!-- коментуємо чи видаляемо якщо не потрібно -->

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <div class="swiper-btns">
        <button type="button" class="swiper-btn swiper-button-prev">
          <svg class="slider-button" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn swiper-button-next">
          <svg class="slider-button" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <!-- коментуємо чи видаляемо якщо не потрібно -->
    </div>
  </div>
</div>