<div data-slider="hero-slider">
  <div class="hero-slider-container">
    <!-- <h2 class="section-title slider-section__title">Слайдер</h2> -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider1.jpg    1x,
                  ./images/hero-slider1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero-slider1-t.jpg    1x,
                  ./images/hero-slider1-t@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider1-m.jpg    1x,
                  ./images/hero-slider1-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider1-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider2.jpg    1x,
                  ./images/hero-slider2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hero-slider2-t.jpg    1x,
                  ./images/hero-slider2-t@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider2-m.jpg    1x,
                  ./images/hero-slider2-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider2-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider3.jpg    1x,
                  ./images/hero-slider3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="./images/hero-slider3-t.jpg"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider3-m.jpg    1x,
                  ./images/hero-slider3-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider3-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/hero-slider1.jpg   1280w,
                ./images/hero-slider1-t.jpg 1024w,
                ./images/hero-slider1-m.jpg  414w
              "
              src="./images/hero-slider1.jpg"
              sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
              width="1280"
              alt="room with furniture"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/hero-slider2.jpg   1280w,
                ./images/hero-slider2-t.jpg 1024w,
                ./images/hero-slider2-m.jpg  414w
              "
              src="./images/hero-slider1.jpg"
              sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
              width="1280"
              alt="room with furniture"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/hero-slider3.jpg   1280w,
                ./images/hero-slider3-t.jpg 1024w,
                ./images/hero-slider3-m.jpg  414w
              "
              src="./images/hero-slider1.jpg"
              sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
              width="1280"
              alt="room with furniture"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/hero-slider1.jpg   1280w,
                ./images/hero-slider1-t.jpg 1024w,
                ./images/hero-slider1-m.jpg  414w
              "
              src="./images/hero-slider1.jpg"
              sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
              <!--
              width="1280"
              --
            />
            <!-- alt="room with furniture" -->
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/hero-slider2.jpg   1280w,
                ./images/hero-slider2-t.jpg 1024w,
                ./images/hero-slider2-m.jpg  414w
              "
              src="./images/hero-slider1.jpg"
              sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
              width="1280"
              alt="room with furniture"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/hero-slider3.jpg   1280w,
                ./images/hero-slider3-t.jpg 1024w,
                ./images/hero-slider3-m.jpg  414w
              "
              src="./images/hero-slider1.jpg"
              sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
              width="1280"
              alt="room with furniture"
            />
          </div>
        </div>
      </div>

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <!-- <ul class="swiper-pagination"></ul> -->
      <!-- коментуємо чи видаляемо якщо не потрібно -->

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <div class="swiper-btns">
        <button type="button" class="swiper-btn swiper-button-prev hero-slider">
          <svg class="slider-button hero-slider" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn swiper-button-next hero-slider">
          <svg class="slider-button hero-slider" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <!-- коментуємо чи видаляемо якщо не потрібно -->
    </div>
  </div>
</div>
