<div class="slider-container3 reverse">
  <div class="section slider-section reverse" data-slider="tripple-slider-rev">
    <div class="swiper" dir="rtl">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse1.jpg    270w,
                ./images/slider-reverse1@2x.jpg 540w,
                ./images/slider-reverse1-m.jpg    274w
                ./images/slider-reverse1-m@2x.jpg 548w
              "
              src="./images/slider-reverse1.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse2.jpg    270w,
                ./images/slider-reverse2@2x.jpg 540w,
                ./images/slider-reverse2-m.jpg    274w
                ./images/slider-reverse2-m@2x.jpg 548w
              "
              src="./images/slider-reverse2.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse3.jpg    270w,
                ./images/slider-reverse3@2x.jpg 540w,
                ./images/slider-reverse3-m.jpg    274w
                ./images/slider-reverse3-m@2x.jpg 548w
              "
              src="./images/slider-reverse3.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse1.jpg    270w,
                ./images/slider-reverse1@2x.jpg 540w,
                ./images/slider-reverse1-m.jpg    274w
                ./images/slider-reverse1-m@2x.jpg 548w
              "
              src="./images/slider-reverse1.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse2.jpg    270w,
                ./images/slider-reverse2@2x.jpg 540w,
                ./images/slider-reverse2-m.jpg    274w
                ./images/slider-reverse2-m@2x.jpg 548w
              "
              src="./images/slider-reverse2.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse3.jpg    270w,
                ./images/slider-reverse3@2x.jpg 540w,
                ./images/slider-reverse3-m.jpg    274w
                ./images/slider-reverse3-m@2x.jpg 548w
              "
              src="./images/slider-reverse3.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse1.jpg    270w,
                ./images/slider-reverse1@2x.jpg 540w,
                ./images/slider-reverse1-m.jpg    274w
                ./images/slider-reverse1-m@2x.jpg 548w
              "
              src="./images/slider-reverse1.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse2.jpg    270w,
                ./images/slider-reverse2@2x.jpg 540w,
                ./images/slider-reverse2-m.jpg    274w
                ./images/slider-reverse2-m@2x.jpg 548w
              "
              src="./images/slider-reverse2.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <img
              srcset="
                ./images/slider-reverse3.jpg    270w,
                ./images/slider-reverse3@2x.jpg 540w,
                ./images/slider-reverse3-m.jpg    274w
                ./images/slider-reverse3-m@2x.jpg 548w
              "
              src="./images/slider-reverse3.jpg"
              alt="dishes"
              width="100%"
              height="270"
            />
          </div>
        </div>
      </div>

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <!-- <ul class="swiper-pagination"></ul> -->
      <!-- коментуємо чи видаляемо якщо не потрібно -->

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <div class="swiper-btns tripple">
        <button type="button" class="swiper-btn swiper-button-prev">
          <svg class="slider-button" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn swiper-button-next">
          <svg class="slider-button" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <!-- коментуємо чи видаляемо якщо не потрібно -->
    </div>
  </div>
</div>
