.kitchen-slider {
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 1280px) {
    transform: translateY(-125px);
  }
  @media screen and (min-width: 1024px) {
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 1023px) {
  .kitchen-slider {
    transform: translateX(124px);
    overflow: hidden;
  }
}

@media screen and (max-width: 1023px) {
  .swiper-btns.swiper-btns--kitchen {
    justify-content: center;
  }
}
