<footer class="footer">
  <div class="footer-container">
    <nav class="footer__nav">
      <a class="footer__logotype link" href="index.html">MIMIHO</a>
      <ul class="footer__list list">
        <li>
          <a class="footer__text link" href="index.html">Головна</a>
        </li>
        <li>
          <a class="footer__text link" href="restaurant.html">Ресторан</a>
        </li>
        <li>
          <a class="footer__text link" href="hotel.html">Готель</a>
        </li>
      </ul>
    </nav>
    <ul class="list footer__socials">
      <li class="footer__socials-item list">
        <a class="footer__socials-link link" href="#">Telegram</a>
        <a href="#"
          ><svg width="19.5" height="17.5">
            <use href="./images/icons.svg#icon-telegram"></use></svg
        ></a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link link" href="#">Facebook</a>
        <a href="#"
          ><svg width="20" height="20">
            <use href="./images/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link link" href="#">Instagram</a>
        <a href="#"
          ><svg width="22" height="22">
            <use href="./images/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</footer>
