<header class="header">
  <div class="container header__container">
    <a class="logotype link" href="index.html">MIMIHO</a>
    <nav class="header__nav">
      <ul class="header__contact header__list">
        <li class="header__phone">
          <a class="header__text" href="./restaurant.html">Ресторан</a>
          <div class="header__icon-phone">
            <svg class="header__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="header__link" href="tel:0955559533"> 095 555 95 33</a>
          </div>
        </li>
        <li class="header__phone">
          <a class="header__text" href="./hotel.html">Готель</a>
          <div class="header__icon-phone">
            <svg class="header__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="header__link" href="tel:0668491089"> 066 849 10 89</a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="header__socials list">
      <li>
        <a class="header__socials-link" href="#">
          <svg width="22" height="22">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="header__socials-link" href="#">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="header__socials-link" href="#">
          <svg width="19.5" height="17.5">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
