<div class="det">
  <div class="header__background" data-slider="hero-slider">
  <div class="hero-slider-container">
    <!-- <h2 class="section-title slider-section__title">Слайдер</h2> -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider1.jpg    1x,
                  ./images/hero-slider1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero-slider1-t.jpg    1x,
                  ./images/hero-slider1-t@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider1-m.jpg    1x,
                  ./images/hero-slider1-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider1-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider2.jpg    1x,
                  ./images/hero-slider2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hero-slider2-t.jpg    1x,
                  ./images/hero-slider2-t@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider2-m.jpg    1x,
                  ./images/hero-slider2-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider2-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider3.jpg    1x,
                  ./images/hero-slider3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="./images/hero-slider3-t.jpg"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider3-m.jpg    1x,
                  ./images/hero-slider3-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider3-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider1.jpg    1x,
                  ./images/hero-slider1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero-slider1-t.jpg    1x,
                  ./images/hero-slider1-t@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider1-m.jpg    1x,
                  ./images/hero-slider1-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider1-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider2.jpg    1x,
                  ./images/hero-slider2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hero-slider2-t.jpg    1x,
                  ./images/hero-slider2-t@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider2-m.jpg    1x,
                  ./images/hero-slider2-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider2-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider3.jpg    1x,
                  ./images/hero-slider3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="./images/hero-slider3-t.jpg"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider3-m.jpg    1x,
                  ./images/hero-slider3-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider3-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider1.jpg    1x,
                  ./images/hero-slider1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero-slider1-t.jpg    1x,
                  ./images/hero-slider1-t@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider1-m.jpg    1x,
                  ./images/hero-slider1-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider1-m.jpg"
                alt="room with furniture"
              />
            </picture>
            <!-- alt="room with furniture" -->
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider2.jpg    1x,
                  ./images/hero-slider2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hero-slider2-t.jpg    1x,
                  ./images/hero-slider2-t@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider2-m.jpg    1x,
                  ./images/hero-slider2-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider2-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-inner">
            <picture>
              <source
                srcset="
                  ./images/hero-slider3.jpg    1x,
                  ./images/hero-slider3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                media="(min-width: 1024px)"
                srcset="./images/hero-slider3-t.jpg"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./images/hero-slider3-m.jpg    1x,
                  ./images/hero-slider3-m@2x.jpg 2x
                "
              />

              <img
                src="./images/hero-slider3-m.jpg"
                alt="room with furniture"
              />
            </picture>
          </div>
        </div>
      </div>

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <!-- <ul class="swiper-pagination"></ul> -->
      <!-- коментуємо чи видаляемо якщо не потрібно -->

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <div class="swiper-btns">
        <button type="button" class="swiper-btn swiper-button-prev hero-slider">
          <svg class="slider-button hero-slider" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn swiper-button-next hero-slider">
          <svg class="slider-button hero-slider" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <!-- коментуємо чи видаляемо якщо не потрібно -->
    </div>
  </div>
</div>

<header class="header">
  <div class="container header__container header__container-2room">
    <a class="logotype link" href="index.html">MIMIHO</a>
    <nav class="header__nav">
      <ul class="header__contact header__list">
        <li class="header__phone">
          <a class="header__text" href="./restaurant.html">Ресторан</a>
          <div class="header__icon-phone">
            <svg class="header__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="header__link" href="tel:0955559533"> 095 555 95 33</a>
          </div>
        </li>
        <li class="header__phone">
          <a class="header__text" href="./hotel.html">Готель</a>
          <div class="header__icon-phone">
            <svg class="header__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="header__link" href="tel:0668491089"> 066 849 10 89</a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="header__socials list">
      <li>
        <a class="header__socials-link" href="#">
          <svg width="22" height="22">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="header__socials-link" href="#">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="header__socials-link" href="#">
          <svg width="19.5" height="17.5">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="hero__address-link2">
      <svg class="locationr__icon">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <div class="hero__address-link-center">
        <p class="hero__address3">
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15
        </p>
      </div>
    </div>
  </div>
  <hero class="heros">
    <div class="container heros-container">
      <div>
        <h2 class="hero__title-s">
          Двомісний номер <span class="hero__title-span">Люкс</span>
        </h2>
        <p class="hero__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="heros__address-hide">
          <div class="heros__address-link">
            <svg class="locationr__icon">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <div class="hero__address-link-center">
              <p class="heros__address2">
                Україна, м. Полтава, <br />
                вул. Маршала Бірюзова, 15
              </p>
            </div>
          </div>
          <div class="header__social-mobile">
            <ul class="header__socials2 list">
              <li>
                <a class="header__socials-link2" href="#">
                  <svg width="22" height="22">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="header__socials-link2" href="#">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="header__socials-link2" href="#">
                  <svg width="19.5" height="17.5">
                    <use href="./images/icons.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- <a class="hero__button2a"  href="#">Переглянути ціни</a> -->
          </div>
        </div>
      </div>

      <a class="hero__button-s popup-link" data-popup-btn="booking__price" href="">Переглянути ціни</a>
    </div>
    </div>
  </hero>
</header>
