.about {
  background-color: $lemon;

  &__text {
    margin-bottom: 12px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.15;
    color: $gray-first;
  }

  &__mimino {
    margin-bottom: 12px;

    font-family: Film P3;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $color-text-logo;
  }

  &__paragraph {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-text-gray;

    &--first {
      //   margin-right: 126px;
      max-width: 258px;
      margin-bottom: 28px;
    }

    &--second {
      margin-left: 20px;
      color: $brown;
    }
  }

  &__img {
    border-radius: 2px;

    &--first {
      margin-left: auto;
    }
    &--second {
      max-width: 200px;
      margin-bottom: 32px;
    }
  }
}

.img-container {
  margin-bottom: 32px;
}

.about-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .about-flex {
    display: flex;
    align-items: center;
  }
  .about {
    &__text {
      margin: 0;

      font-size: 32px;
      line-height: 1.156;
    }

    &__mimino {
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 1.078;
    }
    &__paragraph {
      font-size: 16px;
      margin: 0;

      &--first {
        max-width: 439px;
      }

      &--second {
        max-width: 312px;
        // margin-right: 205px;
      }
    }
    &__img {
      &--first {
        margin: 0;

        min-width: 400px;
        transform: translateY(32px);
      }
      &--second {
        margin-right: 48px;

        min-width: 350px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .about__paragraph {
    &--first {
      max-width: 518px;
      margin-right: 37px;
    }
    &--second {
      margin-right: 32px;
    }
  }
  .about__img {
    min-width: 460px;
  }
}
