.contacts {
  background-color: #fffdee;

  &__logo {
    font-family: 'Film P3', sans-serif;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 414px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}
