.contacts {
  background-color: $lemon;
  padding-top: 36px;
  padding-bottom: 32px;
  position: relative;
  &__title {
    display: none;
  }

  &__logo {
    font-family: 'Film P3', sans-serif;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: Uppercase;
    color: $color-text-logo;
    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
      flex-wrap: nowrap;
      gap: 100px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $color-text-gray;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 52px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
      display: inline-block;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: $brown;
    display: block;
    min-width: 130px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
    }
  }

  &__icon {
    fill: $brown;
  }

  &__box {
    border: 0.5px solid $accent-yellow;
    border-radius: 2px;
    background-color: $white;
    margin-bottom: 16px;
    padding: 8px;

    display: flex;
    gap: 8px;
    align-items: center;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__box--restaurant {
    margin-bottom: 24px;
  }

  &__box--hotel {
    @media screen and (min-width: $tablet) {
      margin-bottom: 48px;
    }
  }

  &__box--location {
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__text {
    color: $color-text-logo;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;

    @media screen and (min-width: $desktop) {
      color: $gray-third;
    }
  }

  &__text--restaurant,
  &__text--hotel {
    font-size: 14px;
    line-height: 1.21;
  }

  &__text--location {
    font-size: 16px;
    line-height: 1.25;
  }

  &__map-wrapper {
    background-color: $black;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid $gray-second;
    border-radius: 2px;
    max-width: 384px;
    width: 100%;
    height: 220px;

    @media screen and (min-width: $tablet) {
      max-width: 535px;
      width: 100%;
      height: 412px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 634px;
      width: 100%;
      height: 412px;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
  }
}
