.details-hot {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.76);
  // padding: 118px 0;
  min-width: 320px;
  width: 100%;
  height: 735px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(/src/images/main_details-hotel_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    height: 620px;
    min-width: 1024px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0.76)
      ),
      url(/src/images/main_details-hotel_tablet.jpg);
    background-color: #000;
    padding-top: 48px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 1280px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(/src/images/main_details-hotel_desk.jpg);
    background-color: rgba(0, 0, 0, 0.76);
  }
}

.interaction-hot {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.desc-hot {
  margin-left: 32px;
  margin-bottom: 48px;
  margin-right: 139px;

  @media screen and (min-width: $tablet) {
    margin-right: 278px;
    margin-bottom: 40px;
    margin-left: 197px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 338px;
    margin-left: 347px;
  }

  &__title {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: white;
    text-align: right;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }

  &__text {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: gray;
    text-align: left;
    margin-bottom: 48px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      max-width: 610px;
      margin-bottom: 40px;
    }
  }
}

.logo-hot {
  text-align: right;
}

.details-btn-hot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;

  @media screen and (min-width: $tablet) {
    justify-content: end;
    margin-bottom: 60px;
    margin-top: 0;
    margin-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 85px;
    margin-bottom: 56px;
  }

  &__reserv {
    background-color: $background-button;
    padding: 14px 24px;
  }

  &__link {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-decoration: none;
    border: 2px solid $white;
    border-radius: 25px;
    height: 48px;
    color: $accent-yellow;
    background-color: $background-button;
    cursor: pointer;
    padding: 14px 31px;

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.swiper-btns--right {
  margin-right: -18px;
}
