.det {
  background-color: $lemon;
}

.deteils {
  padding-top: 24px;
  padding-bottom: 40px;

  min-width: 320px;
  width: 100%;
  height: 735px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: #fffdee;
}

.details-rest {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(/src/images/main_details-rest_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    min-height: 620px;
    min-width: 1024px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0.76)
      ),
      url(/src/images/main_details-rest_tablet.jpg);
    padding-top: 48px;
    background-color: #000;
  }

  @media screen and (min-width: $desktop) {
    min-width: 1280px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/main_details-rest_desktop.jpg);
    background-color: rgba(0, 0, 0, 0.76);
  }
}

.desc {
  margin-left: 140px;
  margin-bottom: 48px;

  @media screen and (min-width: $tablet) {
    margin-left: 278px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 338px;
  }

  &__title {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: white;
    text-align: left;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }

  &__text {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: gray;
    text-align: left;
    margin-bottom: 48px;
    margin-right: 15px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      max-width: 610px;
      margin-bottom: 40px;
    }
  }
}

.interaction-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
  }
}

.logo {
  font-family: Film P3, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.3em;

  color: white;

  text-transform: uppercase;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 64px;
    margin-bottom: 16px;
  }

  &__span {
    letter-spacing: 0em;
  }
}

.logo-rest {
  text-align: left;
}

.details-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  margin-top: 32px;

  &--rest {
    @media screen and (min-width: $tablet) {
      justify-content: end;
      margin-right: 32px;
      margin-bottom: 56px;
      margin-top: 0;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 67px;
      margin-bottom: 48px;
    }
  }

  &__reserv {
    background-color: $background-button;
    padding: 14px 24px;
  }

  &__link {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-decoration: none;
    border: 2px solid $white;
    border-radius: 25px;
    height: 48px;
    color: $accent-yellow;
    background-color: $background-button;
    cursor: pointer;
    padding: 14px 31px;

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.swiper-btns--left {
  margin-left: -22px;
}

.slider-button--white {
  fill: $white;
  border: none;
}
