.hero {
  padding-top: 188px;
  padding-bottom: 20px;
  text-align: center;
}
.overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 1024px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/hero/hero_main_phone.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
    (min-resolution: 192dpi) and (max-width: 1024px),
    (min-resolution: 2dppx) and (max-width: 1024px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/hero/hero_main_phone_2x.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/hero/hero_main_tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) and (min-width: 1024px),
    (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/hero/hero_main_tablet_2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/hero/hero_main_desctop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/hero/hero_main_desctop_2x.jpg);
  }
}

.hero__container {
  position: relative;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 24px;

  width: 303px;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.073;
  letter-spacing: 0.3em;

  color: #ffffff;
  text-transform: uppercase;

  @include tablet {
    width: 404px;
    margin-bottom: 16px;
    font-size: 128px;
    line-height: 1.08;
  }
  @include desktop {
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin: 0 auto;
  margin-bottom: 40px;

  width: 294px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #ffffff;

  @include tablet {
    width: 368px;
    margin-bottom: 56px;
  }
  @include desktop {
    margin-bottom: 64px;
  }
}

.hero__slogan {
  margin: 0 auto;
  margin-bottom: 113px;

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #fdfbec;

  @include tablet {
    margin-bottom: 145px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 1023px) {
  .hero__button {
    margin: 0 auto;
  }
  .hero__button-mobile-margin {
    margin-bottom: 24px;
  }
}

@include tablet {
  .hero__button-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
}

.hero__button-table {
  @media screen and (max-width: 1023px) {
    margin: 0 0 24px 0;
  }

  padding: 18px auto;
  width: 236px;
  height: 48px;
  color: #f3c653;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 25px;

  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button-room {
  @media screen and (max-width: 1023px) {
    margin: 0 0 58px 0;
  }

  padding: 18px auto;
  width: 236px;
  height: 48px;
  color: #f3c653;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 25px;

  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__social-wrap {
  position: absolute;
  top: 515px;

  @include tablet {
    top: 493px;
    left: 47px;
  }
  @include desktop {
    display: none;
  }
}

.hero__social {
  display: flex;
  gap: 23px;
  justify-content: start;
  border: none;
  padding: 0;
}
.social__icon {
  width: 24px;
  height: 24px;
  fill: rgba(243, 198, 83, 0.7);
}

.hero__address {
  display: flex;

  align-items: center;
  width: 212px;
  min-height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;

  @media screen and (max-width: 1023px) {
    position: absolute;
    top: -110px;
    right: 18px;
  }

  @media screen and (max-width: 400px) {
    top: -90px;
  }
}

.hero__address-link {
  display: flex;
  align-items: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;

  color: #e5e5e5;
}

@media screen and (max-width: 1023px) {
  .hero-buttons--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero__location-icon {
  margin-left: 11px;
  fill: #f3c653;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    font-size: 20px;
  }

  .hero__title {
    font-size: 128px;
  }

  .hero__location-icon {
    width: 44px;
    height: 38px;
    margin-left: 4px;
  }
  .hero__button-wrap {
    margin-bottom: 15px;
  }
  .hero__address {
    height: 56px;
    position: absolute;
    bottom: 42px;
    left: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__social {
    display: none;
  }
  .hero__address {
    bottom: -1px;
    min-width: 285px;
    padding: 8px 8px 8px 16px;
  }
  .hero__address-link {
    font-size: 16px;
    line-height: 1.25;
  }
  .hero__button-wrap {
    margin-bottom: 55px;
  }
}
