.slider-section {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 270px;
    width: 270px !important;
    color: #fff;
    font-size: 32px;
    // background-color: red;
    transition: ease-in-out 0.5s;

    &.swiper-slide-next {
      // краще виставляти у %
      // зараз 17.3%  дорівнює 200px
      width: 162px !important;
      // width: 17.3% !important;
    }
  }
}

.swiper-btns {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 32px;
}

.swiper-button-prev {
  position: relative;
  background-color: transparent;
  border: none;
}
.swiper-button-next {
  position: relative;
  background-color: transparent;
  border: none;
}
.swiper-button-prev.hero-slider {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.65);
  left: 5%;
}
.swiper-button-next.hero-slider {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.65);
  right: 5%;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '';
  background-color: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
  position: absolute;
  top: 80%;
}
.slider-button {
  fill: black;
  border: none;
}
.slider-button.hero-slider {
  fill: #f3c653;
}
.swiper-btn {
  width: 60px;
}
.slider-container {
  width: 320px;

  @media screen and (min-width = 414px) {
    width: 404px;
  }

  @media screen and (min-width = 1024px) {
    // width: 548px;
    width: 428px;
  }
  @media screen and (min-width = 1280px) {
    width: 548px;
  }
}
.slider-container.page3 {
  width: 320px;

  @media screen and (min-width = 414px) {
    width: 514px;
  }

  @media screen and (min-width = 1024px) {
    // width: 548px;
    width: 428px;
  }
  @media screen and (min-width = 1280px) {
    width: 548px;
  }
}
.slider-container.page4 {
  width: 320px;

  @media screen and (min-width = 414px) {
    width: 514px;
  }
  @media screen and (min-width = 1024px) {
    // width: 548px;
    width: 428px;
  }
  @media screen and (min-width = 1280px) {
    width: 568px;
  }
}

.hero-slider-container {
  width: 320px;

  @media screen and (min-width = 414px) {
    width: 414px;
  }

  @media screen and (min-width = 1024px) {
    width: 1024px;
  }
  @media screen and (min-width = 1280px) {
    width: 1280px;
  }
}

.slider-container3 {
  width: 320px;

  @media screen and (min-width = 414px) {
    width: 374px;
  }

  // margin-right: auto;
  @media screen and (min-width = 1024px) {
    // width: 548px;
    width: 662px;
  }
  @media screen and (min-width = 1280px) {
    width: 874px;
  }
}

.swiper-btns.tripple {
  justify-content: start;
}
