<!--hero-социальные_сети-->
    <ul class="hero__social cleaning__ul">
      <li><a href="" class="social__link">
          <svg class="social__icon">
            <use href="./images/icons.svg#instagram"></use>
          </svg></a>
      </li>
      <li><a href="" class="social__link">
          <svg class="social__icon">
            <use href="./images/icons.svg#facebook"></use>
          </svg></a>
      </li>
      <li><a href="" class="social__link">
          <svg class="social__icon">
            <use href="./images/icons.svg#telegram"></use>
          </svg></a>
      </li>
    </ul>
<!--hero-адресс-->
    <address>
      <ul class="hero__address cleaning__ul">
        <li class="hero__location"><a href="" class="location">
          <svg class="location__icon">
          <use href="./images/icons.svg#location"></use>
          </svg></a>
        </li>
        <li class="hero__town"><a href="" class="town">
            <p class="town__text">Україна, м. Полтава,<br>
                                  вул. Маршала Бірюзова, 15
            </p></a>
        </li>
      </ul>>  
    </address>
    
  </section>
  