<section class="luxe-room">
    <container class="container--luxe-room ">
    <p class="luxe-room__desc">Amet minim mollit non</p>
    <a class="luxe-room__logo" href="#">mimiho</a>
    <h2 class="luxe-room__title">двомісний номер <span class="luxe-room__title-text">люкс</span></h2>
    <p class="luxe-room__text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. 
    </p>
  
  
 
    <picture>
        <source media="(max-width: 1023px)" srcset="./images/mobile/apartament-living-space1.jpg 1x, ./images/mobile/apartament-living-space1@2x.jpg 2x" width="244px">
        <source media="(min-width: 1280px)" srcset="./images/desktop/apartament-living-space1.jpg 1x, ./images/desktop/apartament-living-space1@2x.jpg 2x" width="460px">
        <source media="(min-width: 1024px)" srcset="./images/tablet/apartament-living-space1.jpg 1x, ./images/tablet/apartament-living-space1@2x.jpg 2x" width="400px">
        <img  class="luxe-room__card" src="./images/mobile/apartament-living-space1.jpg"  srcset="./images/mobile/apartament-living-space1@2x.jpg 2x" alt="Спальня кімната в готелі">
    </picture>
  <div class="luxe-room__swiper">
  
  </div>
    <link class="luxe-room__link">Детальніше</link>
    <button class="luxe-room__button">Переглянути ціну</button>
  
  </container>
  </section>