<section class="room-for-two">
    <div class="container--room-for-two container">
      <div class="room-for-two__block">
    <p class="room-for-two__desc">Amet minim mollit non</p>
    <p class="room-for-two__logo">mimiho</p>
    <h2 class="room-for-two__title">двомісний номер <span class="room-for-two__title-text">люкс</span></h2>
    <p class="room-for-two__text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
    Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. 
    </p>
  </div>



  <picture>
    <source
    srcset="./images/about-hotel/bedroom-living-space-desktop.jpg 1х, ./images/about-hotel/bedroom-living-space-desktop@2x.jpg 2x"
    media="(min-width: 1280px)"
  />
  <source
    srcset="./images/about-hotel/bedroom-living-space-tablet.jpg 1х,./images/about-hotel/bedroom-living-space-tablet@2x.jpg 2x"

    media="(min-width: 1024px)"
  />
  <source
    srcset="
    ./images/about-hotel/bedroom-living-space-mobile.jpg 1х,./images/about-hotel/bedroom-living-space-mobile@2x.jpg 2x"

    media="(max-width:1023px)"
  />
  <img class="room-for-two__card" 
    src="./images/about-hotel/bedroom-living-space-mobile.jpg"
    alt="Спальня в готелі"
  />
</picture>
  <div class="room-for-two__slider-button">
  <div data-slider="double-slider">
    <div class="slider-container room-for-two__slider-container">

      <!-- <h2 class="section-title slider-section__title">Слайдер</h2> -->
      <div class="swiper">
        <div class="swiper-wrapper room-for-two__swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-inner">
              <!-- <img src="./images/double-slider1-m.jpg" alt="A table with sink" /> -->

              <img
                srcset="
                  ./images/double-slider1.jpg 254w,
                  ./images/double-slider1@2x.jpg 508w,
                  ./images/double-slider1-m.jpg 194w
                  ./images/double-slider1-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="table with sink"
              />
            </div>
          </div>
          <div class=" swiper-slide">
            <div class="swiper-inner">
              <!-- <img src="./images/double-slider2.jpg" alt="Trees and winter" /> -->

              <img
                srcset="
                  ./images/double-slider2.jpg 254w,
                  ./images/double-slider2@2x.jpg 508w,
                  ./images/double-slider2-m.jpg 194w
                  ./images/double-slider2-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="trees and snow"
              />
            </div>
          </div>
          <div class=" swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider1.jpg 254w,
                  ./images/double-slider1@2x.jpg 508w,
                  ./images/double-slider1-m.jpg 194w
                  ./images/double-slider1-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="table with sink"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider2.jpg 254w,
                  ./images/double-slider2@2x.jpg 508w,
                  ./images/double-slider2-m.jpg 194w
                  ./images/double-slider2-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="trees and snow"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider1.jpg 254w,
                  ./images/double-slider1@2x.jpg 508w,
                  ./images/double-slider1-m.jpg 194w
                  ./images/double-slider1-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="table with sink"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider2.jpg 254w,
                  ./images/double-slider2@2x.jpg 508w,
                  ./images/double-slider2-m.jpg 194w
                  ./images/double-slider2-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="trees and snow"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider1.jpg 254w,
                  ./images/double-slider1@2x.jpg 508w,
                  ./images/double-slider1-m.jpg 194w
                  ./images/double-slider1-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="table with sink"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider2.jpg 254w,
                  ./images/double-slider2@2x.jpg 508w,
                  ./images/double-slider2-m.jpg 194w
                  ./images/double-slider2-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="trees and snow"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-inner">
              <img
                srcset="
                  ./images/double-slider1.jpg 254w,
                  ./images/double-slider1@2x.jpg 508w,
                  ./images/double-slider1-m.jpg 194w
                  ./images/double-slider1-m@2x.jpg 388w 
                "
                src="./images/double-slider1-page3-1m.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                alt="table with sink"
              />
            </div>
          </div>

        </div>

        <!-- коментуємо чи видаляемо якщо не потрібно -->
        <!-- <ul class="swiper-pagination"></ul> -->
        <!-- коментуємо чи видаляемо якщо не потрібно -->

        <!-- коментуємо чи видаляемо якщо не потрібно -->
        <div class="swiper-btns room-for-two__swiper-btns">
          <button type="button" class=" swiper-btn room-for-two__swiper-button-prev swiper-button-prev  ">
            <svg class="slider-button" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btn room-for-two__swiper-button-next swiper-button-next">
            <svg class=" slider-button" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
        <!-- коментуємо чи видаляемо якщо не потрібно -->
      </div>
    </div>
  </div>
  <div class="room-for-two__block-button">
    <a class="room-for-two__link button" href="./room.html">Детальніше</a>
    <button type="button" data-popup-btn="booking__price" class="room-for-two__button button button-price popup-link">Переглянути ціни</button>
  </div>
</section>