<section class="room-for-two">
  <container class="container--room-for-two">
  <p class="room-for-two__desc">Amet minim mollit non</p>
  <a class="room-for-two__logo" href="#">mimiho</a>
  <h2 class="room-for-two__title">двомісний номер</h2>
  <p class="room-for-two__text">
  Amet minim mollit non deserunt<br> ullamco est sit aliqua dolor do amet<br> sint. 
  Velit officia consequat duis enim<br> velit mollit. Exercitation veniam<br> consequat sunt nostrud amet. 
  </p>



  <picture>
      <source media="(max-width: 1023px)" srcset="./images/mobile/apartament-living-space1.jpg 1x, ./images/mobile/apartament-living-space1@2x.jpg 2x">
      <source media="(min-width: 1280px)" srcset="./images/desktop/apartament-living-space1.jpg 1x, ./images/desktop/apartament-living-space1@2x.jpg 2x">
      <source media="(min-width: 1024px)" srcset="./images/tablet/apartament-living-space1.jpg 1x, ./images/tablet/apartament-living-space1@2x.jpg 2x">
      <img class="room-for-two__card" src="./images/mobile/apartament-living-space1.jpg"  srcset="./images/mobile/apartament-living-space1@2x.jpg 2x" alt="Спальня кімната в готелі">
  </picture>
<div class="room-for-two__swiper">

</div>
  <button>Детальніше</button>
  <button>Переглянути ціни</button>

</container>
</section>