<section class="room-for-three">
    <container class="container">
      <div class="desc">Amet minim mollit non</div>
      <a class="logo" href="#">mimiно</a>

      <h2 class="title">трьохмісний номер</h2>
      <p class="text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>


      <button  class="button-hero">
        Детальніше
      </button>

      <button  type="button" class="button">
        Переглянути ціни
      </button>
    </container>
  </section>