<div class="room-for-three">
  <div class="container--room-for-three container">
    <div class="room-for-three__information-img">
      <div class="room-for-three__information">
        <div class="text-logo">
          <p class="room-for-three_text">Amet minim mollit non</p>
          <p class="room-for-three__logo">
            MIMIH<span class="room-for-three__logo logo--letter-spacing"
              >O</span
            >
          </p>
        </div>
        <div class="title-description">
          <h2 class="room-for-three__title">ТРЬОХМІСНИЙ НОМЕР</h2>
          <p class="room-for-three__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <div class="room-for-three_tumb">
        <picture>
          <source
            srcset="./images/studio-apartment-for3.jpg 1х,./images/studio-apartment-for3@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/studio-apartment-for3-400.jpg    1x,
              ./images/studio-apartment-for3-400@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/studio-apartment-for3-244.jpg    1x,
              ./images/studio-apartment-for3-244@2x.jpg 2x
            "
            media="(max-width:1023px)"
          />
          <img
            class="room-for-three_card"
            src="./images/studio-apartment-for3.jpg"
            alt="Апартаменти для трьох гостей"
          />
        </picture>
      </div>
    </div>

    <div class="room-for-three__footer">
      <div data-slider="double-slider" class="room-for-three__slider">
        <div class="slider-container">
          <!-- <h2 class="section-title slider-section__title">Слайдер</h2> -->
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <!-- <img src="./images/double-slider1-m.jpg" alt="A table with sink" /> -->

                  <img
                    srcset="
                              ./images/double-slider1.jpg 254w,
                              ./images/double-slider1@2x.jpg 508w,
                              ./images/double-slider1-m.jpg 194w
                              ./images/double-slider1-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <!-- <img src="./images/double-slider2.jpg" alt="Trees and winter" /> -->

                  <img
                    srcset="
                              ./images/double-slider2.jpg 254w,
                              ./images/double-slider2@2x.jpg 508w,
                              ./images/double-slider2-m.jpg 194w
                              ./images/double-slider2-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="trees and snow"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider1.jpg 254w,
                              ./images/double-slider1@2x.jpg 508w,
                              ./images/double-slider1-m.jpg 194w
                              ./images/double-slider1-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider2.jpg 254w,
                              ./images/double-slider2@2x.jpg 508w,
                              ./images/double-slider2-m.jpg 194w
                              ./images/double-slider2-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="trees and snow"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider1.jpg 254w,
                              ./images/double-slider1@2x.jpg 508w,
                              ./images/double-slider1-m.jpg 194w
                              ./images/double-slider1-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider2.jpg 254w,
                              ./images/double-slider2@2x.jpg 508w,
                              ./images/double-slider2-m.jpg 194w
                              ./images/double-slider2-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="trees and snow"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider1.jpg 254w,
                              ./images/double-slider1@2x.jpg 508w,
                              ./images/double-slider1-m.jpg 194w
                              ./images/double-slider1-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider2.jpg 254w,
                              ./images/double-slider2@2x.jpg 508w,
                              ./images/double-slider2-m.jpg 194w
                              ./images/double-slider2-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="trees and snow"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                              ./images/double-slider1.jpg 254w,
                              ./images/double-slider1@2x.jpg 508w,
                              ./images/double-slider1-m.jpg 194w
                              ./images/double-slider1-m@2x.jpg 388w 
                            "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
            </div>

            <!-- коментуємо чи видаляемо якщо не потрібно -->
            <!-- <ul class="swiper-pagination"></ul> -->
            <!-- коментуємо чи видаляемо якщо не потрібно -->

            <!-- коментуємо чи видаляемо якщо не потрібно -->
            <div class="swiper-btns room-for-three__swiper-btns">
              <button type="button" class="swiper-btn swiper-button-prev">
                <svg class="slider-button" width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
              </button>
              <button type="button" class="swiper-btn swiper-button-next">
                <svg class="slider-button" width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
            <!-- коментуємо чи видаляемо якщо не потрібно -->
          </div>
        </div>
      </div>

      <div class="room-for-three__button">
        <a class="button button__black button-details" href="./room.html"
          >Детальніше</a
        >
        <button
          type="button"
          class="button button__black button-price popup-link"
          data-popup-btn="booking__price"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</div>
