<section class="features">
  <div class="container hidden">
    <h2 class="visually-hidden">Кухня</h2>
    <div class="features-flex">
      <div class="text-container text-container--restaurant">
        <p class="features__text">Amet minim mollit non</p>
        <p class="features__mimino">MIMIHO</p>

        <p class="features__paragraph features__paragraph--first">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div
        class="img-container img-container--restaurant img-container--transform"
      >
        <picture>
          <source
            srcset="
              ./images/about-kitchen/kitchen-desktop.jpg    1x,
              ./images/about-kitchen/kitchen-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/about-kitchen/kitchen-tablet.jpg    1x,
              ./images/about-kitchen/kitchen-tablet@2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./images/about-kitchen/kitchen-mobile.jpg    1x,
              ./images/about-kitchen/kitchen-mobile@2x.jpg 2x
            "
            kitchen
            media="(min-width:414px)"
          />

          <img
            src="./images/about-kitchen/kitchen-mobile.jpg"
            class="features__img features__img--first"
          />
        </picture>
      </div>
    </div>

    <div class="features-container features-container--restaurant">
      <div class="img-container--second img-restaurant">
        <picture>
          <source
            srcset="
              ./images/about-kitchen/meat-desktop.jpg    1x,
              ./images/about-kitchen/meat-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/about-kitchen/meat-tablet.jpg    1x,
              ./images/about-kitchen/meat-tablet@2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./images/about-kitchen/meat-mobile.jpg    1x,
              ./images/about-kitchen/meat-mobile@2x.jpg 2x
            "
            media="(min-width:414px)"
          />
          <img
            src="./images/about-kitchen/meat-mobile.jpg"
            class="features__img features__img--second"
          />
        </picture>
      </div>
      <p class="features__paragraph features__paragraph--second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="kitchen-slider">
      <div data-slider="double-slider">
        <div class="slider-container">
          <!-- <h2 class="section-title slider-section__title">Слайдер</h2> -->
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <!-- <img src="./images/double-slider1-m.jpg" alt="A table with sink" /> -->

                  <img
                    srcset="
                  ./images/double-slider1-page3-1.jpg 254w,
                  ./images/double-slider1-page3-1@2x.jpg 504w,
                  ./images/double-slider1-page3-1m.jpg 194w
                  ./images/double-slider1-page3-1m@2x.jpg 388w 
  
  
                "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                    alt="food preparation"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <!-- <img src="./images/double-slider2.jpg" alt="Trees and winter" /> -->

                  <img
                    srcset="
                  ./images/double-slider1-page3-2.jpg 254w,
                  ./images/double-slider1-page3-2@2x.jpg 504w,
                  ./images/double-slider1-page3-2m.jpg 194w
                  ./images/double-slider1-page3-2m@2x.jpg 388w 
                "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                    alt="food preparation"
                  />
                </div>
              </div>

              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                  ./images/double-slider1-page3-2.jpg 254w,
                  ./images/double-slider1-page3-2@2x.jpg 504w,
                  ./images/double-slider1-page3-2m.jpg 194w
                  ./images/double-slider1-page3-2m@2x.jpg 388w 
                "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                    alt="food preparation"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                      ./images/double-slider1.jpg 254w,
                      ./images/double-slider1@2x.jpg 508w,
                      ./images/double-slider1-m.jpg 194w
                      ./images/double-slider1-m@2x.jpg 388w 
                    "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                      ./images/double-slider2.jpg 254w,
                      ./images/double-slider2@2x.jpg 508w,
                      ./images/double-slider2-m.jpg 194w
                      ./images/double-slider2-m@2x.jpg 388w 
                    "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="trees and snow"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                      ./images/double-slider1.jpg 254w,
                      ./images/double-slider1@2x.jpg 508w,
                      ./images/double-slider1-m.jpg 194w
                      ./images/double-slider1-m@2x.jpg 388w 
                    "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                      ./images/double-slider2.jpg 254w,
                      ./images/double-slider2@2x.jpg 508w,
                      ./images/double-slider2-m.jpg 194w
                      ./images/double-slider2-m@2x.jpg 388w 
                    "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="trees and snow"
                  />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-inner">
                  <img
                    srcset="
                      ./images/double-slider1.jpg 254w,
                      ./images/double-slider1@2x.jpg 508w,
                      ./images/double-slider1-m.jpg 194w
                      ./images/double-slider1-m@2x.jpg 388w 
                    "
                    src="./images/double-slider1-page3-1m.jpg"
                    sizes="(min-width: 1280px) 254px, (min-width: 414px) 194px, 100vw"
                    alt="table with sink"
                  />
                </div>
              </div>
            </div>

            <!-- коментуємо чи видаляемо якщо не потрібно -->
            <!-- <ul class="swiper-pagination"></ul> -->
            <!-- коментуємо чи видаляемо якщо не потрібно -->

            <!-- коментуємо чи видаляемо якщо не потрібно -->
            <div class="swiper-btns swiper-btns--kitchen">
              <button type="button" class="swiper-btn swiper-button-prev">
                <svg class="slider-button" width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
              </button>
              <button type="button" class="swiper-btn swiper-button-next">
                <svg class="slider-button" width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
            <!-- коментуємо чи видаляемо якщо не потрібно -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
