<section class="amenities">
  <div class="container amenities__container">
    <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities__main-list list">
      <li class="amenities__main-item">
        <h3 class="amenities__subtitle">ЗАГАЛЬНІ</h3>
        <ul class="amenities__list list">
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul>
      </li>
      <li class="amenities__main-item">
        <h3 class="amenities__subtitle">ВАННА КІМНАТА</h3>
        <ul class="amenities__list list">
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul>
      </li>
      <li class="amenities__main-item">
        <h3 class="amenities__subtitle">СПАЛЬНЯ</h3>
        <ul class="amenities__list list">
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </li>
        </ul>
      </li>
      <li class="amenities__main-item">
        <h3 class="amenities__subtitle">КУХНЯ</h3>
        <ul class="amenities__list list">
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </li>
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </li>
        </ul>
      </li>
      <li class="amenities__main-item">
        <h3 class="amenities__subtitle">МЕДІА</h3>
        <ul class="amenities__list list">
          <li class="amenities__item">
            <p class="amenities__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="amenities__buttons-container">
      <button
        class="amenities__button-reservation button-reservation popup-link"
        type="button"
        data-popup-btn="booking__room"
      >
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a class="amenities__link-back link" href="#"
        >Повернутися до перегляду номерів
        <svg class="amenities__back-icon" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
